* { margin:0px; padding:0px; }

.clear {clear: both;}

a:link, a:visited,a:active { color: #b1c903;  text-decoration:none;}
a:hover{color: #b1c903; text-decoration:underline;}
strong{font-weight:bold; color: #7D4A4A;}

body { background: #fff; font-family: Tahoma, sans-serif; color: #313131;}
div#page { margin: 0 auto; display: block; width: 760px;  text-align:left; background: transparent; }

p.warning { text-align: center;}
h1,h2,h3,h4{ color:#313131; }

/* content */
 /* main */
div#main{background: transparent url(../images/main_kd_architekt.png) no-repeat top left; display: block; height: 520px; margin-top: 50px;}
div#main div#contact{padding: 360px  0  0 450px;}
div#main div#contact h1{ font-size: 20px; text-align: right;}
div#main div#contact h2{ font-size: 18px; text-align: right;}
div#main div#contact p{padding-top: 20px;}

div#main div#menu ul{list-style-image:none; list-style-type:none;}

 /* project */
 
 div#project {text-align: center;}
 div#project #header {text-align: left;}
 div#project #header #contact{ background: transparent url(../images/project_kd_architekt.png) no-repeat top left; display: block; height: 120px; margin-top: 10px; }
 div#project #header #contact h2,   div#project #header #contact h3 { margin-left: 500px;}
 
 div#project h1 { font: bold 20px "Century Gothic", Arial, Helvetica, sans-serif; text-decoration:underline; margin:20px 0; text-align: left; }
 div#project div.description {margin: 20px 0;}
 div#project div.description strong {font-weight:bold; color: #b1c903;}
 div#project div.description ul li strong {margin-right: 20px; }
 div#project div.description ul {list-style-image:none; list-style-type:none; margin:0; padding:0; text-align: left;}
 div#project div.images {margin: auto 0;}
  
 div#project div#navigation ul {list-style-image:none; list-style-type:none; margin:20px 0; padding:0; text-align: left;}
 div#project div#navigation ul li.next{float:right;}